.photos {
  // lander
  .lander {
    margin-top: 30px;
    text-align: center;

    h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }

    p {
      color: #999;
    }

    .screenshot {
      margin-top: 30px;
      max-width: 800px;
      height: auto;
      border: 1px solid gray;
      border-radius: 8px;
    }
  }

  // upload button
  .upload {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      color: steelblue;
    }
  }

  // photo list
  .list {
    display: flex;
    flex-wrap: wrap;

    .image {
      height: 150px;
      margin: 5px;
      border: 3px solid white;
      cursor: pointer;

      img {
        height: 100%;
        width: auto;
      }

      &:hover {
        border-color: lightgrey;
      }
    }
  }
}
